body {
   margin-bottom:4px;
   margin-left:4px;
   margin-right:4px;
   margin-top:4px;
}
.conatiner{
    padding:5px;
    background-color:papayawhip;
}

.assemble {
 
    background-color: aqua;
    padding:10px;
}
.image {
    text-align:center;

}
.next{
    text-align:center;
}.new{
     text-align:center;

 }
 .page{
     text-align:center;
 }
.contrast {
    
    background-image: url("login.gif");
    text-align: center;
    width:inherit;
    height:inherit;
}
.no{
    padding:10px;
    background-color:grey;

}
